@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

html{
    font-size: 62.5%;
}

body{
    background-color: white;
}

h1{
    color:black;
    font-family: 'PT Sans' , sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

h2{
    color:black;
    font-family: 'PT Sans' , sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
}

p{
    color: black;
    font-family: 'PT Sans' , sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 400;
}

label{
    color: black;
    font-family: 'PT Sans' , sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 400;
}

.contenedor{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "nav"
    "header"
    "form"
    "aside"
    "footer";
}

#mainNav{
    grid-area: nav;
}

#header{ 
    grid-area: header;
}

#formulario{
    grid-area: form;
}

#mapa{
    grid-area: aside;
}

#footer{
    grid-area: footer;
}

.botonera{
    background-color: aquamarine;
    position: sticky;
    margin-top: 0%;
    display: inline-flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.botoneraImg{
    width: 75px;
    margin-bottom: 15px;
}

.botonera_ul{
    display: inline-flex;
    flex-direction: row;
    list-style: none;
}

.botonera_a{
    color: black;
    text-decoration: none;
    font-family: 'PT Sans' , sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 15px;
    cursor: pointer;
}

.footer{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0%;
    padding-bottom: 5px;
    background-color: aquamarine;
}

.footer_p{
    font-size: 1.5rem;
}

.h1_espaciado{
    margin-left: 80px;
    margin-top: 20px;
}

.contacto_formulario{
    margin-left: 80px;
}

.textArea{
    margin-left: 2px;
}

.botonesenvio_acomodo{
margin-top: 20px;
margin-left: 150px;
}

.mapa_acomodo{
    margin-top: 0;
    padding-bottom: 50px;
}

.cursorPointer{
    cursor: pointer;
}

@media (min-width: 606px){
    .contenedor{
        grid-template-columns: 50vw 50vw;
        grid-template-areas: 
        "nav nav"
        "header header"
        "form form"
        "aside aside"
        "footer footer";
    }
}
    
@media (min-width: 1024px) {
    
    .contenedor{
        grid-template-columns: 50vw 50vw;
        grid-template-areas: 
        "nav nav"
        "header header"
        "form aside"
        "footer footer";
    }

    .botonera{
        flex-direction: row;
    }

    .botonera_ul{
        margin-right: 5px;
    }

    .h1sherpo{
        margin-right: 350px;
        margin-left: 5px;
    }

    .botonera img{
        margin-bottom: 0;
        margin-left: 5px;
    }

    aside iframe{
        width: 450px;
        height: 350px;
    }

}